* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

button {
    cursor: pointer;
}

html, body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: rgb(32, 32, 36);
}

header .itens-haeader {
    width: 70%;
    height: 70px;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .itens-haeader .itens-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 400px;
}

header .itens-haeader .itens-right p {
    font-size: 16px;
    font-weight: bold;
    color: rgb(225, 225, 230);
    transition: color 0.2s ease 0s;
    margin-right: 12px;
}

header .itens-haeader .itens-right .button-home {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background: transparent;
    border: none;
    border-radius: 5px;
    transition: background 0.2s ease 0s;
}

header .itens-haeader .itens-right .button-home:hover {
    background: #000000;
    border-radius: 5px;
}

header .itens-haeader .itens-right .button-home .icon {
    width: 23px;
    height: 23px;
    color: #A8A8B3;
}

header .itens-haeader .itens-right .image-a {
    position: relative;
    width: 50px;
    height: 50px;
}

header .itens-haeader .itens-right .image-a img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
    border: 2px solid rgb(225, 225, 230);
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
}



main {
    width: 70%;
    margin: 30px auto;
}

.list-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(650px, auto);
    gap: 24px;
}

.list-cards .card {
    background: rgb(32, 32, 36);
    position: relative;
    border-radius: 8px;
    transition: all 0.2s ease 0s;
    padding: 64px;
    display: flex;
    width: 100%;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    
    border: 2px solid rgb(32, 32, 36);

    text-align: center;
    cursor: pointer;
}

.list-cards .card p {
    max-width: 270px;
    text-align: center;
    color: rgb(135, 134, 139);
    font-size: 16px;
    line-height: 26px;

    margin-top: 50px;
}

.list-cards .starter, 
.list-cards .launchbase,
.list-cards .gostack {
    margin-top: 100px;
}

.list-cards .starter strong {
    color: rgb(130, 87, 229);
}

.list-cards .launchbase strong {
    color: rgb(253, 149, 31);
}

.list-cards .gostack strong {
    color: rgb(4, 211, 97);
}

.list-cards .card a {
    position: relative;
    padding: 15px;
    font-size: 15px;
    text-align: center;
    background: rgb(4, 211, 97);
    color: rgb(34, 34, 34);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    align-self: center;
    margin-top: 35px;
}

.list-cards .card a:hover{
    color: #ffffff;
    background: rgb(32, 32, 36);

    border: 1px solid rgb(4, 211, 97);
}

.list-cards .card-starter:hover {
     position: relative;
    border: 2px solid rgb(113, 89, 193);
    animation: zoom 200ms ease-out;
        -webkit-animation-fill-mode: forwards; 
}

.list-cards .card-launch:hover {
    position: relative;
    border: 2px solid rgb(253, 149, 31);
    animation: zoom 200ms ease-out;
        -webkit-animation-fill-mode: forwards;   
}


@keyframes zoom {
    from {
        top: 0;
    }

    to {
        top: -10px;
    }
}








